<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/chapa_tu_ruta_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chapa_tu_ruta_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChapaTuRuta">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDg-lgll2qxnJ7aHcKQY5aBH5veN3kuRPY"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChapaTuRuta">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>